.content.projects
  .page-header
    %h1 Edit Project
    %small=@project.name
  .row
    = render 'form'
    = link_to 'Show', @project, :class => 'btn info'
    = link_to 'Back', projects_path, :class => 'btn'
