.sidebar
  .page-header
    %br
    %br
    -if @stories.empty?
      %h3 No Stories yet
      %h2 
        Add project:
        = link_to 'New Project', new_project_path, :class => 'btn primary'
    -else
      = link_to 'Add Story', new_story_path, :class => 'btn primary'
    %br
  = render 'tasks/assingned'
  = render 'tasks/todo'
