
h2,p{
  font-size:100%;
  font-weight:normal;
  margin-bottom: -10px;
}

.sticker h2 {
  line-height: 18px;
  padding-top: 5px;
}
ul.stickers,li.sticker{
  list-style:none;
}
ul.stickers{
  overflow:hidden;
  /*padding:3em;*/
}
ul.stickers li.sticker a.sticker{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:6em;
  width:7em;
  padding:0.5em;
  padding-top:0.2em;
  padding-left:1em;
  

  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
ul.stickers li.sticker{
  margin-bottom:1.7em;
  margin-left:0.9em;
  margin-top:0.3em;
  /*float:left;*/
}
ul.stickers li.sticker h2{
  font-size:110%;
  font-weight:bold;
  padding-bottom:10px;
}
ul.stickers li.sticker p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:150%;
}
ul.stickers li.sticker a.sticker{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
ul.stickers li.sticker:nth-child(even) a.sticker{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  /*position:relative;*/
  /*top:5px;*/
  background:#cfc;
}
ul.stickers li.sticker:nth-child(3n) a.sticker{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  /*position:relative;*/
  /*top:-5px;*/
  background:#ccf;
}
ul.stickers li.sticker:nth-child(5n) a.sticker{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  /*position:relative;*/
  /*top:-10px;*/
}
ul.stickers li.sticker a.sticker:hover,ul.stickers li.sticker a.sticker:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  /*position:relative;*/
  z-index:5;
}