
.content
  .page-header
    %h1 ToDo List
    %small Your favorite ToDo list
  .row
    .span6
      %h2 One
      %p
        %ul
          %li one
          %li two
          %li three
    .span6
      %h2 Two
      %p
        %ul
          %li one
          %li two
          %li three
    .span4
      %h2 Menu
      %p 
        = render 'tasks/assingned'
    
