
.content
  .hero-unit
    %h1 ToDo List
    %p Your favorite ToDo list
    %br
    %p
      = link_to "Sign Up and Start !", register_path, :class => 'btn primary large'
  .row
    .span-one-third
      %h2 Релиз 1
      %p
        %ul
          %li.done Как пользователь я хочу иметь возможность создавать/удалять списки задач и именовать их (список задач имеет     наименование и описание).
          %li.done Как пользователь я хочу иметь возможность создавать/удалять задачи в списках задач (задача имеет наименование, описание, состояние и приоритет).
          %li.done Как пользователь я хочу иметь возможность помечать задачу как ‘в процессе’, ‘сделанная’.
          %li.done Как пользователь я хочу иметь возможность просматривать список не сделанных задач.
          %li.done Как пользователь я хочу иметь возможность просматривать список сделанных задач.
    .span-one-third
      %h2 Релиз 2
      %p 
        %ul
          %li.done Добавить регистрацию/авторизацию пользователей.
          %li.done Пользователь должен видеть только свои задачи и списки задач.
          %li.done Как пользователь я хочу иметь возможность создавать/удалять проекты, проект в себя включает списки задач. 
    .span-one-third
      %h2 Релиз 3
      %p 
        %ul
          %li Как пользователь я хочу иметь возможность приглашать других пользователей в свои проекты.
          %li Как пользователь я хочу иметь возможность назначать задачи на других пользователей.
          %li Как пользователь я хочу получать уведомление на email когда на меня назначают задачу.
          %li Как пользователь я хочу получать уведомления на email когда меняется статус назначенных мною задач.
          %li Как пользователь я хочу получать уведомления на email когда меняется статус назначенных на меня задач.

  =render 'form_register'
    



